body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #1B1B1B;
    font-family: Tahoma, Verdana, Arial, serif;
    color: white;
}

.die {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    font-size: 0;
    width: 8vw;
    height: 14vw;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5vw;
    margin-top: -6vh;
}

.diceContainer {
    display: flex;
    justify-content: center;
    gap: 4vw;
}

button {
    width: 20vw;
    height: calc-size(min-content, size + 5vh);
    font-size:6vw;
    border-radius: 4vw;
    border-color: white;
    background-color: mediumseagreen;
    color: white;
}

h2 {
    font-weight: normal;
    color: white;
}

img {
    width: 10vw;
}

#rulesButton {
    transform: translate(35vw, -30vh);
    display: flex;
    position:absolute;
    align-items: center;
    justify-content: center;
}

#rulesDisplay {
    display: none;
    position:absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height:80vh;
    width:40vw;
    background-color: #1B1B1B;
    border-radius: 2vw;
    border: 0.5vw solid white;
    text-align: center;
    z-index: 1;
    font-size: min(2vh, 12px);

}

#resultScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    margin-top: -2.5vh;
}

#resultNavigationButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
    margin-top: -2.5vh;
}


