body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #1B1B1B;
    font-family: Tahoma, Verdana, Arial, serif;
    color: white;
}

.die {
    width: 100px;
    height: 100px;
    background-color: mediumseagreen;
    border: 3px white solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    cursor: grab;
    border-radius: 12px;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: -25px;
}

.diceContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
}

button {
    height: 100px;
    width: 200px;
    font-size:50px;
    font-weight: normal;
    border-radius: 15px;
    border-color: white;
    background-color: mediumseagreen;
    color: white;
}

h2 {
    font-weight: normal;
    color: white;
}

#rulesButton {
    height: 100px; width: 200px;
    border-radius: 15px;
    transform: translate(350px, -200px);
    background-color: mediumseagreen;
    font-family: 'Tahoma',serif;
    font-size: 50px; z-index: 1;
    font-weight: 100;
    display: flex;
    position:absolute;
    align-items: center;
    justify-content: center;
}

#resultScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: -25px;
}

#resultNavigationButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: -25px;
}

