body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    min-height: 100svh;
    margin: 0;
    padding: 0;
    background-color: #1B1B1B;
    font-family: Tahoma, Verdana, Arial, serif;
    color: white;
}

.die {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
    font-size: 0;
    width: 8svw;
    height: 14svw;
}

.screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5svw;
    margin-top: -6svh;
}

.diceContainer {
    display: flex;
    justify-content: center;
    gap: 4svw;
}

button {
    width: auto;
    height: auto;
    padding: 2vh 2vh 2vh 2vh;
    font-size:6vw;
    border-radius: 4svw;
    border-color: white;
    background-color: mediumseagreen;
    color: white;
}

h2 {
    font-weight: normal;
    color: white;
}

img {
    width: 10svw;
}

#rulesButton {
    transform: translate(35svw, -30svh);
    display: flex;
    position:absolute;
    align-items: center;
    justify-content: center;
}

#rulesDisplay {
    display: none;
    position:absolute;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: auto;
    max-width: 50vw;
    padding: 2vh 2vh 2vh 2vh;
    background-color: #1B1B1B;
    border-radius: 2svw;
    border: 0.5svw solid white;
    text-align: center;
    z-index: 1;
    font-size: min(1em, 12px);
}

#resultScreen {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 2svw;
    margin-top: -2.5svh;
}

#resultNavigationButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2svw;
    /*margin-top: -5svh;*/
}


